

 <nb-card>
    
    <nb-card-body>
        <div style="overflow-y: auto; height:90vh;">
                <Table id="tableJobs"  class="table table-noborder" style="color :black;">
                    <tr><th>Simulation name</th><th>Statut</th><th>Start</th><th>end</th><th>%</th><th>Cancel</th><th>Delete</th></tr>
                    <tr *ngFor="let row of Datatable">
                        <td style="text-align: center"><br> {{row.Nom_simu}}  </td>
                        <td><br> {{row.Statut}}</td> 
                        <td><br>{{row.Start_time}} </td>
                        <td><br>{{row.End_time}}</td>
                        <td><br> {{row.Percentage}} </td>
                        <td> 
                            <button class="btn btn-warning btn-hero btn-sm"
                            [disabled]="row.Statut=='finished' || row.Statut == 'canceled'"
                            (click)="onCancelSim($event,row.ID_JOB)" >
                            Cancel
                            </button> 
                        </td>
                        <td>
                        <button  class="btn  btn-danger btn-hero btn-sm" (click)="onDeleteConfirm($event,row.ID_JOB)" >Delete</button>
                        </td>
                    </tr>
                </Table>  
            </div>
   </nb-card-body>
</nb-card>

